.tuan__tuan{
    width: 80%;
    height: 150px;
    object-fit: contain;
}
.GioHang{
    padding:10px;
    
}
.checkout{
    width: 100%;
    min-height: 120px;
    max-height: 6000px;
}
.col-sm-7.mt-3.thanh_toan_box {
    background: #ffffffad;
    padding: 24px;
    border-radius: 5px;
}