nav.heade__box {
    height: 60px;
    align-items: center;
    background-color: #131921 !important;

  }
  nav.navbar.navbar-expand-lg.navbar-dark.bg-dark {
    margin-top: 55px;
}
  .header__logo {
    width: 100px;
    height: 50px;
    transition: 0.3s;
    margin: 20px;
  }

  
  .header__search {
    display: flex;
    flex: 1;
    align-items: center;
  
  }
  .header__logo:hover {
    border-radius:2px;    box-shadow: 1px 1px 14px 8px #ffa6004d;
    transform: scale(1.03);
    color: wheat;
  }

  .header__searchInput {
    height: 25px;
    padding: 10px;
    border: none;
    width: 90%;
  }
 
  .header__searchIcon {
    border-radius: 5px;
    padding: 5px;
    height: 25px !important;
    background-color: #cd9042;
  }

div#my-nav {
    flex: inherit;
}
li.nav-item {
  margin: 0px 31px;

}
.quan__ly{
  padding-top:18px ;

}
.gio__hang{
  padding-top:18px ;
}
.gio__hang_text{
  color: white;
    font-size: 16px;
}
.gio__hang_text:hover{
  color: #cd9042;
}
h4.quan__ly__text {
  font-size: 20px;
  color: white;
  text-decoration: none;
}
h4.quan__ly__text:hover {
  color: #cd9042;
}