.header {
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #131921;
    position: relative;
    top: 0;
    z-index: 100;
  }
  li.nav-item.dropdown {
    margin: 0px 11px;
}
  .header__logo {
    width: 100px;
    height: 50px;
    margin:  20px;
    margin-top: 18px; color:green;
    transition: 0.3s;
  }

  
  .header__search {
    display: flex;
    flex: 1;
    align-items: center;
  
  }
  .header__logo:hover {
    border-radius:2px;    box-shadow: 1px 1px 14px 8px #ffa6004d;
    transform: scale(1.03);
  }

  
  .header__searchInput {
    height: 25px;
    padding: 10px;
    border: none;
    width: 90%;
  }
  
  .header__searchIcon {
    border-radius: 2px;
    padding: 5px;
    height: 25px !important;
    background-color: #cd9042;
  }
  .size-big{
    background: red;
    width: 65px;
  }
  
  .header__optionLineOne {
    font-size: 10px;
  }
  
  .header__optionLineTwo {
    font-size: 13px;
    font-weight: 800;
  }
  
  .header__optionBasket {
    display: flex;
    align-items: center;
    color: white;
  }
  
  .header__basketCount {
    margin-left: 10px;
    margin-right: 10px;
  }
  
  .header__nav {
    display: flex;
    justify-content: space-evenly;
  }
  
  .header__option {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
  }