button.btn.btn-info.my-3 {
    margin-left: 5px;
    font-size: 12px;
}

.stt__STT {
    width: 5%; 
    vertical-align: middle;

    /* cách 2 */
    /* top:50%; */
    /* transform: translateY(-50%.-50%); */
}
.stt__Ma {
    width: 5%; 
    vertical-align: middle;

}
.stt__Ten {
    width: 10%;
    vertical-align: middle;
   

}
.stt__MoTa {
    width: 20%;
    vertical-align: middle;
  
}
.stt__HinhAnh {
    width: 20%;
    vertical-align: middle;

}
.stt__TrangThai {
 
    width: 10%;
    vertical-align: middle;

}
.stt__Gia {
    vertical-align: middle;
    width: 10%;
   
}
.stt__HanhDong {
    vertical-align: middle;
    width: 10%;
  
}


.stt__img{
    width: 200px  ;
    height: 200px;
    height: auto;
    object-fit: cover;
    font-size: 10px;
    /* background-position: center center;
    background-size: cover; */
}